<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>New URL - TinyApp Example</title>
</head>

<body>
  <%- include('./partials/_header.ejs')%>
  <h3> Create Account</h3>
 <div>
    <form method="POST" action=" /register">
     <p>Email Address:</p> 
     <p> <input type="email" placeholder="email" name="email"></p>
      <P>password :</P>
      <p><input type="password" placeholder="password" name="password"></p>
      <button type="submit">Register</button>

    </form>
  </div>
</body>

</html>